body {
  background: url('../img/bg1.png');
  font-size: 1.4em;
  font-weight: bold;
}

h1 {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 2em;
}

h2 {
  margin-top: 10px;
  margin-left: 20px;
}

#title-container {
  position: absolute;
  left: 180px;
  top: 0px;
  height: 820px;
  width: 680px;
  background: white;
}

#info-container {
  position: absolute;
  left: 180px;
  top: 750px;
  height: 120px;
  width: 680px;
  background: white;
}

.square {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #FFF;
}

span {
  margin-top: 10px;
  margin-left: 20px;
  display: block;
}
